# SPDX-License-Identifier: MIT
# Copyright (c) 2025 Copilot-for-Consensus contributors

# Requirements for scripts/manage_failed_queues.py
pika>=1.3.0
prometheus_client>=0.20.0
pymongo>=4.8.0
# Requirements for scripts/qdrant_exporter.py
requests>=2.32.4
